*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  color: white;
}

.clock {
  display: flex;
  gap: .5rem;
  font-family: 'Arial', sans-serif;
}

.separator {
  font-size: 4rem;
  line-height: 5rem;
}

.container {
  display: flex;
  gap: .25rem;
}

.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
  font-size: 4rem;
  line-height: 1;
}

.top, .bottom, .flip-card::before, .flip-card::after {
  height: .75em;
  width: 1.2em;
  padding: .25em;
  background-color: hsl(0, 0%, 25%);
  color: #efefef;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.top, .flip-card::before {
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  border-bottom: 1px solid black;
  align-items: flex-end;
}

.bottom, .flip-card::after {
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
  align-items: flex-start;
}

.flip-card::before, .flip-card::after {
  position: absolute;
  content: attr(data-current-number);
}

.flip-card::after {
  top: 50%;
}

.flip-card.flip::before {
  animation: flip-top .5s ease-in;
  transform-origin: bottom;
}

.flip-card.flip::after {
  animation: flip-bottom .5s ease-in;
  transform-origin: top;
  content: attr(data-next-number);
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}